<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/admin']">Social App</a>
    <div>
      <span class="navbar-text">
        <span class="btn btn-sm btn-outline-success" [routerLink]="['/login']">Log Out</span>
      </span>
    </div>
  </nav>
  <div class="container pt-3">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <div class="card border-success">
          <div class="card-header text-center">
            <h4 class="card-title">User Information</h4>
          </div>
          <div class="card-content">
             <div class="container" *ngIf="userInfo">
               <div class="row">
                 <div class="col-md-3">
                   <p>Name : </p>
                 </div>
                 <div class="col-md-9">
                   <p><strong>{{userInfo?.firstName}} {{userInfo?.lastName}}</strong></p>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-3">
                   <p>Email :</p>
                 </div>
                 <div class="col-md-9">
                   <strong>{{userInfo?.email}}</strong>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-3">
                   <p>Referral Link :</p>
                 </div>
                 <div class="col-md-9">
                   <p><code>http://localhost:4200/?rfb={{userInfo?.uid}}</code></p>
                 </div>
               </div>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border-success">
          <div class="card-header text-center">
            <p class="card-title">Refer by :</p>
          </div>
          <div class="card-content">
            <div class="container">
              <div class="row">
                <div class="col-md-5">
                  <p>User Name :</p>
                </div>
                <div class="col-md-6">
                  {{referalName}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
