<app-header></app-header>
<!--
<div id="home" class="intro route bg-image" style="background-image: url('../../../assets/images/led-play.jpg')">
  <div class="overlay-mf"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
-->


<section id="about" class="about-mf pt-2 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
